.input {
  margin: 1rem 0;
  width: 100%;
}

.input label {
  display: block;
  color: #3b0062;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  width: 93%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  max-width: 93%;
  resize: vertical;
  overflow: auto;
  height: inherit;
}

.input .touched.invalid {
    border-color: red;
    background: #ffc2c2;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: #3b0062;
  color: #3b0062;
}
